@charset "utf-8";
/* CSS Document */
*{ font-family:"微软雅黑";}
a{ text-decoration:none;}
ul,li{ margin:0; padding:0; list-style:none;}
body{ margin:0; padding:0; background:#e5e5e5;}
input{ margin:0; padding:0; outline:none;}

.zong{ overflow:auto;margin-top:50px;}
.top_k{ height:54px; line-height:54px;}
.top_qxql{ height:54px; background:#fff; line-height:54px; overflow:auto; white-space:nowrap;}
.top_qxql span{ display:block; font-size:12px; float:left; margin-left:20px;}
.top_in{ width:114px; height:24px;border:solid 1px #aaaaaa;}
.top_select{ width:98px; height:24px; outline:none;}
.top_button{ overflow:hidden;display: inline-block;}
.top_button img{ float:left; margin-left:16px;margin-top: 8px;}

.content_title{ background:#bdd3e0; height:40px; line-height:40px; margin-top:10px; position:relative;}
.content_sp1{ display:block; position:absolute;width:6px; height:20px; background-color:#20b891; border:solid 1px #3da396;top:10px; border-radius:3px;left:20px;}
.content_sp2{ display:block; font-size:12px; left:40px; position:absolute;}
.img_tj{ display:block; float:left; margin-top:14px;}
.content_sp3{display:block;position:absolute;right:20px;font-size:12px; color:#4c6456; font-weight:bold; cursor:pointer; overflow:hidden;}
.content_sp3 span{ display:block; float:left;}

.content_t{overflow:auto; float:left; margin-left:1%; width:83%;}
.content_ul_w{ overflow:auto; height:270px;}
.content_li{border-bottom:1px solid #eaedf1; background:#fff; overflow:hidden; height:28px;}
.content_li span{ display:block; float:left; white-space:nowrap;color:#323232; font-size:12px; height:28px;line-height:28px; text-align:center;}
.span1_0{ width:30px; font-weight:bold;}
.span1{ font-weight:bold; width:200px;}
.span2_0{ width:30px;}
.span2{ width:200px;}
.content_a{ display:block; height:28px; line-height:28px;font-size:12px; color:#22bd9b; font-weight:bold; cursor:pointer;}

.content_bottom1{ background:#fff; height:30px; margin-top:10px;}
.content_bottom2{ background:#fff; height:42px; margin-top:2px; line-height:42px; position:relative;}
.b1{ margin-left:10px; position:absolute; overflow:hidden;}
.b1 input{ float:left; margin-top:15px;}
.b1 span{ display:block; font-size:12px; color:#323232; float:left; margin-left:2px;}
.b2{ width:32px; height:20px; line-height:20px; border:solid 1px #ced3d7; background:#d0e0e7; color:#323232; float:left; font-size:12px; text-align:center; position:absolute; left:60px; top:11px; cursor:default;}
.b3{ height:20px; line-height:20px; position:absolute; right:400px;}
.b3_s1{ font-size:12px; color:#13b58e;}
.b3_s2{ font-size:12px; color:#323232;}

.b4{ height:20px; line-height:20px; position:absolute; right:280px; top:11px; color:#323232; font-size:12px;}
.b5{ height:20px; line-height:20px; position:absolute; right:15px; top:11px;}
.b5_s1{ color:#13b58e; font-size:12px; border: solid 1px #13b58e; padding:0 3px; cursor:pointer;}
.b5_s3 input{ color:#323232; width:25px; font-size:12px; border: solid 1px #13b58e;}
.b5_s2{ color:#fff; background:#13b58e;}

.tc{ width:100%; height:100%; position:fixed; top:0; left:0; background:rgba(0,0,0,0.5); display:none; z-index:800;}
.tc_div{background:#f1f5fa; width:800px; height:400px; position:absolute; left:50%; margin-left:-400px; top:50%; margin-top:-200px; border-radius:5px;}
.tc_title{ width:100%; height:50px; line-height:50px; overflow:hidden; border-bottom:solid 1px #bdd3e0;}
.js_sp1{ float:left; display:block; font-size:18px; font-weight:bold; color:#22bd9b; margin-left:50px;}
.tc_ul_div{width:700px; height:260px;margin-top:20px; margin-left:50px; overflow:auto;}
.zz_ul1{padding-left:20px; height:auto;}
.zz_ul2{padding-left:20px; height:auto;display:none;}
.zz_li{ overflow:hidden;font-size:12px; line-height:28px; }
.zz_li img{ float:left; margin-top:9px; margin-right:10px;}
.zz_ul input{ float:left; margin-top:8px; margin-right:5px;}

.bottom_qxql{ width:100%; height:70px; line-height:70px; overflow:hidden;}
.bottom_sp1{ display:block; width:80px; height:36px; float:left; background:#475c6f; color:#fff; line-height:36px; text-align:center; font-size:14px; border-radius:3px; margin-left:290px; margin-right:40px; cursor:pointer;}
.bottom_sp2{ display:block; width:80px; height:36px; float:left; background:#1fb992;color:#fff; line-height:36px; text-align:center; font-size:14px; border-radius:3px;cursor:pointer;}

.tc_div1{background:#f1f5fa; width:400px; height:550px; position:absolute; left:50%; margin-left:-200px; top:50%; margin-top:-300px; border-radius:5px;}
.tc_ul_div1{ width:300px; height:400px;margin-top:20px; margin-left:50px; overflow:auto;}
.tc_ul_s{ height:auto;}
.tc_ul_s li{ overflow:hidden; height:50px; width:100%; line-height:50px;font-size:14px; text-align:center; position:relative;}
.tc_ul_s label{ position:absolute; left:0;}
.tc_ul_s select{ width:195px;position:absolute; left:85px; top:15px;}
.tc_inp{ width:190px;position:absolute; left:85px; top:15px;}

.bottom_sp3{ display:block; width:80px; height:36px; float:left; background:#475c6f; color:#fff; line-height:36px; text-align:center; font-size:14px; border-radius:3px; margin-left:100px; margin-right:40px; cursor:pointer;}
.bottom_sp4{ display:block; width:80px; height:36px; float:left; background:#1fb992;color:#fff; line-height:36px; text-align:center; font-size:14px; border-radius:3px;cursor:pointer;}