@charset "utf-8";
/* CSS Document */

/*重置*/
*{ margin:0; padding:0; font-family:"微软雅黑";}
ul,li{ list-style:none; margin:0; padding:0;}
a{ text-decoration:none; cursor:pointer; margin:0; padding:0;}
input{ outline:none; margin:0; padding:0;}
body{ background:#f3f4f8;}
/*top*/
.top{ background:url(../img/top_bg.jpg); position:fixed; z-index:303; top:0; left:0; width:100%; height:160px;}
.img_a{ display:block; position:absolute; left:2%; top:30px;}
.rq_tq{position:absolute; left:50%; top:17px; overflow:hidden;width:30%;}
#left_span{ display:block; color:#fff; font-size:14px; float:left; margin-top:36px;}
.iframe{ width:45%; overflow:hidden;}
@media screen and (max-width: 1024px){
.iframe{ display:none;}
}

@media screen and (min-width: 1300px) and (max-width: 1919px){
#right_z2{top:530px;}
}

@media screen and (min-width: 1920px){
#right_z2{ top:570px;}
}

.tuic{ position:absolute; right:2%; top:45px; color:#fff; font-size:14px; overflow:hidden; height:37px; line-height:37px;}
.tuic_a1{ float:left; margin-right:20px;}
.qhlb{ float:left; margin-right:20px;}
.tuic_a2{ float:left;}
.top_menu_r{ position:absolute; right:2%; top:126px; z-index:304; cursor:pointer;}
.top_menu_r a{ display:block; height:26px; float:left; margin-left:5px;}
.top_menu_r .chongz{ display:block; width:26px; height:26px;}
.top_menu_r img{ display:block; height:26px; width:auto;}

/*bottom*/
#right_title10{ display:block; width:8%; height:40px; float:left;}
.bottom{ background:none; width:96%;  margin-left:2%; height:40px; border-top:solid 1px #fff; position:absolute; left:0; top:119px; z-index:302; overflow:hidden;}
.bottom_tj_span{ display:block; float:left; height:30px; width:auto; margin-top:7px;}
.bottom_ul{ width:90%; height:30px; margin-left:8%;}
.bottom_div1{position:relative;float:left; margin-left:1%; margin-left:1%;  margin-top:5px; height:30px;}
.bottom_a{ display:block; height:30px;}
.bottom_ul li{ float:left; margin-left:1%; margin-left:1%;}
.tb_gb1_b1{ display:block; width:15px !important; height:15px!important; position:absolute; right:-5px; top:-5px; display:none;}
.bottom_div1:hover .tb_gb1_b1{ display:block;}

.bottom_a img{ height:30px; width:auto;}
.bottom_a2{ display:block; height:30px; line-height:30px; text-align:center; padding:0 20px; background:#8fc327; color:#fff; font-size:14px; border-radius:3px; margin-top:5px;}

.bottom_tc_bg{ background:rgba(0,0,0,0.7); width:100%; height:100%; position:fixed; top:0; left:0; display:none; z-index:400;}
.bottom_tc{ width:800px; height:400px; background:#fff; position:fixed; left:50%; margin-left:-400px; top:50%; margin-top:-200px; border-radius:5px; box-shadow:1px 1px 2px #666; overflow:hidden;}

.bottom_tc_ss{ overflow:hidden; margin-top:30px; margin-left:55px;}
.bottom_ss_in{ outline:none; border:1px solid #20b891; border-radius:3px; float:left; height:26px; padding-left:5px;}
.bottom_ss_a{ display:block; width:28px; height:26px; background:#20b891; float:left; margin-left:5px;}
.bottom_ss_a img{ display:block; width:20px; height:20px; margin-left:4px; margin-top:3px;}

.bottom_span1{ display:block; width:60px; height:26px; line-height:26px; text-align:center; background:#20b891;color:#fff; font-size:14px; cursor:default; float:right; margin-right:10px;}
.bottom_span2{ display:block; width:60px; height:26px; line-height:26px; text-align:center;  background:#20b891;color:#fff; font-size:14px; cursor:default; float:right; margin-right:71px;}

.bottom_tc_ul{ float:left; margin-left: 55px; overflow:auto; height:260px; margin-top:20px;}
.bottom_tc li{ margin-top:10px; width:100px; float:left;}
.bottom_tc_ul input{ margin-right:5px;}
.bottom_tc label{ font-size:14px;}

/*left*/
.left{ width:120px; background:#dbe0e6; position:fixed; top:160px; left:0; z-index:300;}
.left_nav{ width:100px; height:auto; margin-top:6px; margin-left:10px;}
.left_a{ display:block; width:46px; height:76px; padding:1px 65px 0 10px; margin-left:17px;}
.left_a img{ display:block; width:46px; height:auto; margin-top:10px;}
.left_aaa{ background:url(../img/lefta_bg.png) no-repeat;}

.left_ck{ width:120px; height:40px; background:#3a68a3; position:fixed; left:0; bottom:0; overflow:hidden; z-index:301;}
.left_ck_span1,.left_ck_span2{ display:block; width:50%; height:40px; float:left;}
.left_ck_span1 img{ display:block; margin:auto; margin-top:13px;}
.left_ck_span2 img{ display:block; margin:auto; margin-top:13px;}



.hover_bg2{background:rgba(243,149,23,0.5)}
.menu_ul2 a:hover{ background:rgba(243,149,23,0.5);}
.menu_ul3 a:hover{ background:rgba(243,149,23,0.5);}
.menu_ul2 li:hover .cd_span2{ display:block;}
.menu_ul3 li:hover .cd_span3{ display:block;}

.hover_bg4{background:rgba(143,192,38,0.5)}
.menu_ul4 a:hover{ background:rgba(143,192,38,0.5);}
.menu_ul4 li:hover .cd_span4{ display:block;}

/*9.29*/
.menu_ul5_0 a:hover{ background:rgba(143,192,38,0.5);}
.menu_ul5_0 li:hover .cd_span5_0{ display:block;}

.menu_ul5_1 a:hover{ background:rgba(143,192,38,0.5);}
.menu_ul5_1 li:hover .cd_span5_1{ display:block;}

.menu_ul5_2 a:hover{ background:rgba(143,192,38,0.5);}
.menu_ul5_2 li:hover .cd_span5_2{ display:block;}

.menu_ul5_3 a:hover{ background:rgba(143,192,38,0.5);}
.menu_ul5_3 li:hover .cd_span5_3{ display:block;}



.hover_bg6{background:rgba(61,109,171,0.5)}
.menu_ul6 a:hover{ background:rgba(61,109,171,0.5);}
.menu_ul6 li:hover .cd_span6{ display:block;}

/*9.29*/
.hover_bg7_4{background:rgba(61,109,171,0.5)}
.menu_ul7_4 a:hover{ background:rgba(61,109,171,0.5);}
.menu_ul7_4 li:hover .cd_span7_4{ display:block;}

.hover_bg7_5{background:rgba(61,109,171,0.5)}
.menu_ul7_5 a:hover{ background:rgba(61,109,171,0.5);}
.menu_ul7_5 li:hover .cd_span7_5{ display:block;}

.hover_bg7_0{background:rgba(61,109,171,0.5)}
.menu_ul7_0 a:hover{ background:rgba(61,109,171,0.5);}
.menu_ul7_0 li:hover .cd_span7_0{ display:block;}

.hover_bg7{background:rgba(61,109,171,0.5)}
.menu_ul7 a:hover{ background:rgba(61,109,171,0.5);}
.menu_ul7 li:hover .cd_span7{ display:block;}

.hover_bg7_1{background:rgba(61,109,171,0.5)}
.menu_ul7_1 a:hover{ background:rgba(61,109,171,0.5);}
.menu_ul7_1 li:hover .cd_span7_1{ display:block;}

/*.hover_bg7_2{background:rgba(61,109,171,0.5)}
.menu_ul7_2 a:hover{ background:rgba(61,109,171,0.5);}
.menu_ul7_2 li:hover .cd_span7_2{ display:block;}*/

.hover_bg7_3{background:rgba(61,109,171,0.5)}
.menu_ul7_3 a:hover{ background:rgba(61,109,171,0.5);}
.menu_ul7_3 li:hover .cd_span7_3{ display:block;}

.hover_bg8{background:rgba(48,129,195,0.5)}
.menu_ul8 a:hover{ background:rgba(48,129,195,0.5);}
.menu_ul8 li:hover .cd_span8{ display:block;}

.hover_bg10{background:rgba(243,149,23,0.5)}
.menu_ul10 a:hover{ background:rgba(243,149,23,0.5);}
.menu_ul10 li:hover .cd_span10{ display:block;}

.hover_bg12{background:rgba(208,72,24,0.5)}
.menu_ul12 a:hover{ background:rgba(208,72,24,0.5);}
.menu_ul12 li:hover .cd_span12{ display:block;}

.hover_bg14{background:rgba(37,145,60,0.5)}
.menu_ul14 a:hover{ background:rgba(37,145,60,0.5);}
.menu_ul14 li:hover .cd_span14{ display:block;}

.menu_ul15 a:hover{ background:rgba(37,145,60,0.5);}
.menu_ul15 li:hover .cd_span15{ display:block;}

.hover_bg16{background:rgba(48,129,195,0.5)}
.menu_ul16 a:hover{ background:rgba(48,129,195,0.5);}
.menu_ul16 li:hover .cd_span16{ display:block;}

.menu_ul17_0 a:hover{ background:rgba(48,129,195,0.5);}
.menu_ul17_0 li:hover .cd_span17_0{ display:block;}

.menu_ul17_1 a:hover{ background:rgba(48,129,195,0.5);}
.menu_ul17_1 li:hover .cd_span17_1{ display:block;}

.menu_ul17_2 a:hover{ background:rgba(48,129,195,0.5);}
.menu_ul17_2 li:hover .cd_span17_2{ display:block;}

.menu_ul17_3 a:hover{ background:rgba(48,129,195,0.5);}
.menu_ul17_3 li:hover .cd_span17_3{ display:block;}


.cd_ts{display:block; position:absolute; right:5px; top:14px;}
.cd_div{ position:absolute; left:8px; width:144px;}

.ani_ss{ position:fixed; width:0px; height:auto; background:#dbe0e6; color:#333; font-size:12px; border:solid 1px #d04717;cursor:default; border-radius:5px; z-index:10; opacity:0; padding-bottom:10px;}
.ss_div{ width:210px; height:30px; overflow:hidden;}
.ss_in1{ outline:none; float:left; border:none; height:20px; width:150px; margin-top:10px; margin-right:5px; margin-left:10px; font-size:12px;}
.ss_in2{ float:left; border:none; background:#d04717; color:#fff; width:35px; height:20px; line-height:20px; margin-top:10px;}
.ani_ss_ul{ width:150px;background:#fff; margin-left:10px; display:none;}
.ani_ss_ul li{ height:26px; line-height:26px; font-size:12px; width:150px;}


.menu_ul2{ width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px; position:fixed;border:solid 1px #f39517;cursor:default; border-radius:5px; display:none; z-index:300;}
.menu_ul2 a{ display:block; width:160px; height:40px; text-align:center; line-height:40px;}
.cd_span2{ background:#f39517; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul3{ position:absolute; top:0; width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px;left:100%; border:solid 1px #f39517; border-radius:5px; display:none; z-index:300; margin-left:0 !important;}
.cd_span3{ background:#f39517; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul4{ width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px; position:fixed;border:solid 1px #8fc026;cursor:default; border-radius:5px; display:none; z-index:300;}
.menu_ul4 a{ display:block; width:160px; height:40px; text-align:center; line-height:40px; position:relative;}
.cd_span4{ background:#8fc026; display:none; width:8px; height:40px; position:absolute; left:0;}

/*9.29*/
.menu_ul5_0{ position:absolute; top:0; width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px;left:100%; border:solid 1px #8fc026; border-radius:5px; display:none; z-index:300; margin-left:0 !important;}
.cd_span5_0{ background:#8fc026; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul5_1{ position:absolute; top:0; width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px;left:100%; border:solid 1px #8fc026; border-radius:5px; display:none; z-index:300; margin-left:0 !important;}
.cd_span5_1{ background:#8fc026; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul5_2{ position:absolute; top:0; width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px;left:100%; border:solid 1px #8fc026; border-radius:5px; display:none; z-index:300; margin-left:0 !important;}
.cd_span5_2{ background:#8fc026; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul5_3{ position:absolute; top:0; width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px;left:100%; border:solid 1px #8fc026; border-radius:5px; display:none; z-index:300; margin-left:0 !important;}
.cd_span5_3{ background:#8fc026; display:none; width:8px; height:40px; position:absolute; left:0;}


.menu_ul6{ position:fixed;width:160px; overflow-x:hidden; overflow-y:auto; height:auto; background:#dbe0e6; color:#333; font-size:12px;left:100%; border:solid 1px #3d6dab; border-radius:5px; display:none; z-index:300;}
.menu_ul6 a{ display:block; width:160px; height:40px; text-align:center; line-height:40px; position:relative;}
.cd_span6{ background:#3d6dab; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul7_0{ position:fixed; width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px; border:solid 1px #3d6dab; border-radius:5px; display:none; z-index:300;margin-left:0 !important;}
.menu_ul7_0 a{ display:block; width:160px; height:40px; text-align:center; line-height:40px; position:relative;}
.cd_span7_0{ background:#3d6dab; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul7{ position:fixed; width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px;border:solid 1px #3d6dab; border-radius:5px; display:none; z-index:300; margin-left:0 !important;}
.menu_ul7 a{ display:block; width:160px; height:40px; text-align:center; line-height:40px; position:relative;}
.cd_span7{ background:#3d6dab; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul7_1{ position:absolute; top:0; width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px;left:100%; border:solid 1px #3d6dab; border-radius:5px; display:none; z-index:300;}
.cd_span7_1{ background:#3d6dab; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul7_2{ position:absolute; top:0; width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px;left:100%; border:solid 1px #3d6dab; border-radius:5px; display:none; z-index:300;}
.cd_span7_2{ background:#3d6dab; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul7_3{ position:fixed; width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px; border:solid 1px #3d6dab; border-radius:5px; display:none; z-index:300;margin-left:0 !important;}
.menu_ul7_3 a{ display:block; width:160px; height:40px; text-align:center; line-height:40px; position:relative;}
.cd_span7_3{ background:#3d6dab; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul7_4{ position:fixed; width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px; border:solid 1px #3d6dab; border-radius:5px; display:none; z-index:300;margin-left:0 !important; left:281px;}
.menu_ul7_4 a{ display:block; width:160px; height:40px; text-align:center; line-height:40px; position:relative;}
.cd_span7_4{ background:#3d6dab; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul7_5{ position:fixed; width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px; border:solid 1px #3d6dab; border-radius:5px; display:none; z-index:300;margin-left:0 !important; left:281px;}
.menu_ul7_5 a{ display:block; width:160px; height:40px; text-align:center; line-height:40px; position:relative;}
.cd_span7_5{ background:#3d6dab; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul8{ position:fixed; width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px;left:100%; border:solid 1px #3081c3; border-radius:5px; display:none; z-index:300;}
.menu_ul8 a{ display:block; width:160px; height:40px; text-align:center; line-height:40px; position:relative;}
.cd_span8{ background:#3081c3; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul10{ position:fixed; width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px;left:100%; border:solid 1px #f39517; border-radius:5px; display:none; z-index:300;}
.menu_ul10 a{ display:block; width:160px; height:40px; text-align:center; line-height:40px; position:relative;}
.cd_span10{ background:#f39517; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul12{ position:fixed;width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px;left:100%; border:solid 1px #d04818; border-radius:5px; display:none; z-index:300;}
.menu_ul12 a{ display:block; width:160px; height:40px; text-align:center; line-height:40px; position:relative;}
.cd_span12{ background:#d04818; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul14{ position:fixed;width:160px;overflow-x:hidden; overflow-y:auto;height:auto; background:#dbe0e6; color:#333; font-size:12px;left:100%; border:solid 1px #25913c; border-radius:5px; display:none; z-index:300;}
.menu_ul14 a{ display:block; width:160px; height:40px; text-align:center; line-height:40px; position:relative;}
.cd_span14{ background:#25913c; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul15{ position:fixed; width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px;border:solid 1px #25913c; border-radius:5px; display:none; z-index:800;margin-left:0 !important;}
.menu_ul15 a{ display:block; width:160px; height:40px; text-align:center; line-height:40px; position:relative;}
.cd_span15{ background:#25913c; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul16{ position:fixed; width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px;left:100%; border:solid 1px #3081c3; border-radius:5px; display:none; z-index:300;}
.menu_ul16 a{ display:block; width:160px; height:40px; text-align:center; line-height:40px; position:relative;}
.cd_span16{ background:#3081c3; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul17_0{ position:absolute; top:0; width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px;left:100%; border:solid 1px #3081c3; border-radius:5px; display:none; z-index:300;margin-left:0 !important;}
.menu_ul17_0 a{ display:block; width:160px; height:40px; text-align:center; line-height:40px; position:relative;}
.cd_span17_0{ background:#3081c3; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul17_1{ position:absolute; top:0; width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px;left:100%; border:solid 1px #3081c3; border-radius:5px; display:none; z-index:300;margin-left:0 !important;}
.menu_ul17_1 a{ display:block; width:160px; height:40px; text-align:center; line-height:40px; position:relative;}
.cd_span17_1{ background:#3081c3; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul17_2{ position:absolute; top:0; width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px;left:100%; border:solid 1px #3081c3; border-radius:5px; display:none; z-index:300; margin-left:0 !important;}
.menu_ul17_2 a{ display:block; width:160px; height:40px; text-align:center; line-height:40px; position:relative;}
.cd_span17_2{ background:#3081c3; display:none; width:8px; height:40px; position:absolute; left:0;}

.menu_ul17_3{ position:absolute; top:0; width:160px; height:auto; background:#dbe0e6; color:#333; font-size:12px;left:100%; border:solid 1px #3081c3; border-radius:5px; display:none; z-index:300;margin-left:0 !important;}
.menu_ul17_3 a{ display:block; width:160px; height:40px; text-align:center; line-height:40px; position:relative;}
.cd_span17_3{ background:#3081c3; display:none; width:8px; height:40px; position:absolute; left:0;}

/*right*/
/*.right{ position:relative; margin-left:120px !important; margin-top:165px !important;}*/
#right_l1{ background:#f3f4f8; position:absolute; left:120px; top:165px;}
#right_l1 .more2{ margin-top: 15px;}
.right_l1_s{height:230px; position:relative;}
.right_l1_s:hover{ box-shadow:3px 3px 3px #e1e1e3;}
.right_l1_gr{ color:#444549; font-size:20px; margin:auto; width:100%; height:38px; line-height:38px; text-align:center;}
.right_l1_tx{ width:136px; height:136px; border-radius:138px; border:solid 1px #f6940d; margin:auto; position:relative;}
.right_l1_tx_li{ width:120px; height:120px; border-radius:120px; overflow:hidden; position:absolute; left:50%; margin-left:-60px; top:50%; margin-top:-60px;}
.right_l1_tx_li img{ width:120px; height:auto; min-height:120px; border-radius:120px;}
.left_tx_xg{ display:block; width:100%; height:22px; line-height:22px; text-align:center;color:#5974b9; font-size:10px;}
.right_ge{ color:#1260b3; font-size:14px; text-align:center; margin-top:5px;}
.ge_name{ color:#f6940d;}
.grxx_xial{ margin-left:10px;}
.grxx_xial1{ margin-left:10px; display:none;}
.right_ge_x{ position:absolute; box-shadow:3px 3px 3px #e1e1e3; width:100%; background:#f3f4f8; z-index:10; left:0; display:none;}
.right_ge1{color:#1260b3; font-size:14px; height:24px; line-height:24px; cursor:pointer;}
.right_ge1:hover{ background:#fff;}

.left_db{ width:100%;height:75px; overflow:hidden; margin-top:15px;}
.left_db a{ display:block; width:18%; height:60px; float:left; margin-top:5px; margin-left:12%;}
.left_db img{ height:60px; width:auto;}

#right_l2{ background:#f3f4f8; position:absolute; left:120px;}
.right_l2_top{ width:100%; height:46px; line-height:46px; overflow:hidden;}
.right_l2_span1{ display:block; width:3px; height:20px; background:#376ba4; float:left; margin-top:14px;}
.right_l2_span2{ color:#fb941e; font-size:20px; margin-left:10px;}

.right_l2_content{ width:100%; height:170px; background:#fff; border: solid 1px #e4e4e4; position:relative;}
.right_l2_div{ width:90%; height:150px; overflow:hidden; margin-left:5%; margin-top:10px;}
.right_l2_ul{ width:100%; height:auto;}
.right_l2_ul li{width:100%; line-height:25px;}
.right_l2_ul a{ display:block; width:100%;color:#3380c6; font-size:14px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.more1{ color:#3380c6; font-size:8px; position:absolute; right:1%; bottom:5px; cursor:pointer;}
.more2{color:#bebcbd; font-size:8px; float:right; cursor:pointer; width: 100%; text-align: right; border-bottom: solid 1px #d0d1d5; }

#right_l3{background:#f3f4f8; position:absolute; left:120px;}
.right_l3_top{ width:100%; height:46px; line-height:46px; overflow:hidden; margin-bottom: 10px;}
.right_l3_span1{ display:block; width:3px; height:20px; background:#376ba4; float:left; margin-top:14px;}
.right_l3_span2{ color:#4b494a;  font-size:20px; margin-left:10px;}
.right_l3_title{ width:100%; overflow:hidden;}
.right_l3_div{ width:98px; margin-bottom: 10px; margin-right: 15px; height:80px; float:left;}
.right_l3_div img{ display:block; height:80px; width:auto;}
.right_l3_ul{ float:left; font-size:14px;}
.l3_1{ color:#8f9094;}
.l3_2{ color:#242223; font-weight:bold;}
.l3_3 a{ display:block; float:left; color:#3081c3; font-weight:bold; border-bottom: solid 1px #3081c3; margin-right:5px;}
.right_l3_content{ width:100%; font-size:12px; color:#3081c3; overflow: hidden; height: 168px;}
.right_l3_content li{ width:100%; height:24px; line-height:24px;}
.right_l3_content a{ border-bottom: solid 1px #3081c3;}

#right_z1{ position:absolute;background:#f3f4f8;  top:165px;} 
.right_z1_top{ width:100%; height:46px; line-height:46px; overflow:hidden;}
.right_z1_span1{ display:block; width:3px; height:20px; background:#376ba4; float:left; margin-top:14px;}
.right_z1_span2{ color:#4b494a;  font-size:20px; margin-left:10px;}
.right_z1_content{ width:100%;}
.right_z1_title1{ width:100%; height:26px; line-height:26px; color:#4b494a; font-size:14px;}
.right_z1_title1_a{ display:block; float:left; width:60%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.right_z1_title1_rq{ float:left;}
.gstt{ float:left;}
.right_z1_title2{ overflow:hidden;}
.num1{ display:block; float:left; width:32%; max-height:130px; overflow:hidden; margin-right:2%;}
.num2{ display:block; float:left; width:32%; max-height:130px; overflow:hidden; margin-right:2%;}
.num3{ display:block; float:left; width:32%; max-height:130px; overflow:hidden;}
.right_z1_title2 img{ display:block; width:100%; max-height:130px;}
.right_z1_title3{ width:100%; height:30px; line-height:30px;}
.right_z1_title3 span{ color:#98989a; font-size:12px;}

.right_z1_content1{ width:100%; margin-bottom:15px; max-height:382px;}
.right_z1_content1 li{width:100%;line-height:30px; overflow:hidden;}
.right_z1_content1_a{ display:block; font-size:14px; color:#4f4d4e; float:left; width:80%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.right_z1_content1 span{ display:block; float:left;}

#right_z2{ position:absolute;background:#f3f4f8;}
.right_z2_title{ width:130px; height:20px; line-height:20px; border-bottom:solid 1px #d0d1d5;}
.right_z2_title span{ display:block; font-size:12px; float:left; cursor:pointer;}
.qb{color:#747476; margin-right:4px;}
.wd,.zd{ color:#747476; margin-left:4px; margin-right:4px;}
.tz{color:#747476; margin-left:4px;}

.qb_bg{color:#96142e;}

.right_z2_content{ width:100%; margin-bottom:10px; height: 163px;}
.right_z2_content li{ width:100%; height:18px; line-height:18px; background:#fff; margin-top:10px; overflow:hidden;}
.right_z2_content a{ display:block; width:65%; font-size:14px; color:#4f4d4e; float:left; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.right_z2_span1{ float:left; margin-left:5px;}
.right_z2_span2{ float:left; color:#878586; font-size:12px;}
#z2_ul2,#z2_ul3,#z2_ul4{ display:none;}

#right_z3{ position:absolute;background:#f3f4f8;}
.right_z3_title{ width:100%; overflow:hidden; margin-top:10px;}
.right_z3_div{ float:left; width:25%; margin-right:2%; max-height: 118px;}
.right_z3_div img{ display:block; width:100%; height:auto;}
.right_z3_div2{color:#4f4d4e; font-size:16px;}
.right_z3_div2 a{ display:block; width:60%; height:30px; line-height:30px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

#right_r1{  position:absolute; background:#f3f4f8;  top:165px;}
.right_r1_biao{ width:100%; margin-bottom:15px; height: 204px;}
.right_biao_li1{ font-size:14px; width:100%; height:24px; line-height:24px; background:#dbdbdb; overflow:hidden;}
.bt{ display:block; width:30%; text-align:center; border-right: solid 1px #a6a6a6; float:left;}
.sj{display:block; width:30%; text-align:center;  border-right: solid 1px #a6a6a6; float:left;}
.zt{display:block; width:20%; text-align:center;  border-right: solid 1px #a6a6a6; float:left;}
.lx{display:block; width:19%; text-align:center; float:left;}
.right_r1_li2{ width:100%; font-size:12px; height:20px; line-height:20px; background:#fff; margin-top:10px; overflow:hidden;}
.right_r1_li2_span1{ display:block; width:70%; float:left;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.right_r1_li2_span2{ display:block; width:100%; float:left;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.bt2{ display:block; width:30%; float:left; overflow:hidden;}
.sj2{ display:block; width:30%; text-align:center; float:left; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.zt2{ display:block; width:20%; text-align:center; float:left;}
.lx2{ display:block; width:19%; text-align:center; float:left;}

#right_r2_bg{background:#f3f4f8; position:absolute;}
.right_r2{ background:#fff;}
.right_r2_div1{ width:100%; overflow:hidden; position:relative;}
.bg_x{ display:block; width:100%;}
.right_r2_div2{ width:100%; overflow:hidden; position:relative;}
.r2_div1{ width:25%; height:100px; overflow:hidden; border-right: solid 1px #f1edc7; position:relative; margin-top:10px; margin-bottom:10px; float:left;}
.i1{ display:block; position:absolute; left:50%; margin-left:-33px; top:10px; height:60px; width:auto;}
.i2{ display:block; position:absolute; left:50%; margin-left:-7px; top:85px;}
.r2_ul_div{ width:70%; float:left; height:80px; overflow:hidden; margin-top:20px; margin-left:2%;}
.r2_ul{ width:100%; height:auto; color:#919191; font-size:14px;}
.r2_img1{ position:absolute; top:10px; left:110px;}
.r2_img2{ position:absolute; bottom:10px; right:10px;}
.r2_img3{ position:absolute; top:10px; left:110px;}
.r2_img4{ position:absolute; bottom:10px; right:10px;}
.r2_ul a{ display:block; width:90%; line-height:14px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; margin-left:4%; margin-top:10px;}
.xhx{ width:100%; height:1px; background:#c0c0c0; margin-top:10px;}
.i2_div{ width:30%; height:200px; position:fixed; left:35%; top:50%; margin-top:-100px; background:#fff; z-index:10;}
.i2_tan{ width:80%; margin-left:9%; margin-top:20px; margin-bottom:10px; outline:none; resize:none; padding:1%; border-radius:5px; font-size:12px; box-shadow:1px 1px 2px #bfbfbf inset;}
.i2_bg{ width:100%; height:100%; position:fixed; top:0; left:0; background:rgba(0,0,0,0.7);z-index:600; display:none;}
.i2_span1{ display:block; width:50px; height:26px; background:#20b891; color:#fff; font-size:12px; text-align:center; line-height:26px; float:left; margin-left:37%; cursor:default;}
.i2_span2{ display:block; width:50px; height:26px; background:#20b891; color:#fff; font-size:12px; text-align:center; line-height:26px; float:left; margin-left:2%; cursor:default;}


#right_r3{ position:absolute; background:#f3f4f8;}
.right_r3_title{ width:100%; overflow:hidden; margin-top:15px;}
.right_r3_div{ width:30%; float:left; overflow:hidden; margin-right:2%; max-height: 118px;}
.right_r3_div img{ display:block; width:100%; height:auto;}
.right_r3_div2 a{ display:block; width:50%; color:#3081c3; font-size:18px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.right_r3_div2 p{color:#4f4d4e; font-size:14px; width:65%; float:left; height:38px; overflow:hidden;}