@charset "utf-8";
/* CSS Document */

/*重置*/
*{ margin:0; padding:0; font-family:"微软雅黑";}
ul,li{ list-style:none; margin:0; padding:0;}
a{ text-decoration:none;}
input{ outline:none; margin:0; padding:0;}
/*头部*/
.top{ width:100%; height:94px; background-color:#308983; position:fixed; top:0; left:0; border-bottom:4px solid #4f5f6f;}
.top_s{width:100%; height:60px; overflow:hidden;}
.img_a{ height:60px; float:left;}
.logo_img{ margin-left:5%; margin-top:5px; width:375px; height:55px;}
.tuic{ position:absolute; right:1%; top:0; overflow:hidden;}
.tuic_a1{ display:block; font-size:12px; color:#fff; float:left; cursor:pointer; margin-right:20px;}
.tuic_a2{ display:block; float:left; overflow:hidden;  cursor:pointer;}
.tuic_a2 img{ display:block; float:left; margin-right:5px;}
.tuic_a2 span{ display:block; float:left; font-size:12px; color:#fff;}

.top_menu_r{ position:absolute; right:1%; top:60px; overflow:hidden;}
.top_menu_r a{ display:block; color:#fff; float:left; font-size:12px; font-weight:bold; margin-left:5px; cursor:pointer;}

.qhlb{ width:76px; height:20px; background:#20b891; position:absolute; right:1%; top:30px; border:1px solid #6d6f72;}
.qhlb a{ display:block; width:100%; height:100%; color:#fff; font-size:12px; text-align:center; line-height:20px; cursor:pointer; font-weight:bold;}

.top_menu_li_r2 a{ color:#fff; font-size:14px; font-weight:bold;}
.ss_input{ float:right; border:none; height:20px; margin-right:3px;}
.ss_top{ display:block; width:26px; height:20px; background-color:#29c7a6; float:right;}
.ss_top img{ display:block; width:15px; height:15px; margin:auto; padding-top:2px;}
/*菜单栏*/
.right_tb{ height:26px; width:96%; position:absolute; left:3%; bottom:-4px; overflow:hidden; white-space:nowrap;}
.right_tb .right_zm2:hover{ background-color:#23c29f;}

.right_zm{ display:block; height:26px; padding:0 1%;line-height:26px; color:#333; font-size:12px; background-color:#edf1f2; float:left; margin-right:1%; border-top-left-radius:4px; border-top-right-radius:4px; overflow:hidden;}
.right_zm img{ height:12px; width:14px; float:left; margin-top:7px;}
.right_zm span{ display:block; float:left;overflow:hidden; white-space:nowrap;}

.right_zm2{ display:block;height:26px; line-height:26px; color:#fff; font-size:12px; background-color:#22bd9b; float:left; margin-right:1%; border-top-left-radius:4px; border-top-right-radius:4px; overflow:hidden;width:10%; position:relative;}
.right_zm2 span{ display:block; float:left; margin-right:5%; margin-left:5%; width:46%; overflow:hidden; white-space:nowrap;}
.tb_gb{ display:block; position:absolute; top:8px; right:5%;}
.tb_sx{display:block; position:absolute; top:7px; right:19%;}
.tb_fh{display:block; position:absolute; top:7px; right:35%;}

/*左边*/
.left{ width:3%; background-color:#4f5f6f; height:100%; position:fixed; left:0; top:94px; z-index:10;}
.li_ss{ width:70%; height:36px; margin-left:15%; margin-bottom:5px;}
.li_ss a{ display:block; width:100%; height:100%; border-radius:5px;}
.li_ss a:hover{ background-color:#3a434c; }

/*.menu_li1:hover .menu_ul2{ display:block;}
.menu_li2:hover .menu_ul3{ display:block;}
.menu_li3:hover .menu_ul4{ display:block;}*/
.menu_li2:hover .cd_span{ display:block;}
.menu_li3:hover .cd_span2{ display:block;}
.menu_li4:hover .cd_span3{ display:block;}
.bg_a{ background:#3a434c;}
.ej_bg{ background:#e7eef2;}


.li1{ position:relative; }
.menu_ul1{ position:relative;}
.menu_li1{ width:100%; height:36px;  margin-bottom:5px; position:relative;}
.menu_li1_a{ display:block; width:70%; height:36px;  margin-left:15%; border-radius:5px; position:relative;}
.menu_li1_a:hover{ background-color:#3a434c;}
.menu_img{display:block; position:absolute; left:50%; margin-left:-10px; padding-top:8px;}
.sanj{ display:none; position:absolute; padding-top:10px; z-index:20;}

.menu_ul2{ width:160px; height:auto; background:#fff; color:#333; font-size:12px; position:absolute; top:0; border:solid 1px #48ac8e; display:none; z-index:500; cursor:default;}
#tj_ej{width:160px; height:auto; background:#fff; color:#333; font-size:12px; position:absolute; top:-200px; border:solid 1px #48ac8e; display:none; z-index:500}
.menu_ul2 a{ display:block; width:160px; height:40px; text-align:center; line-height:40px;}
.menu_ul2 a:hover{ background:#e7eef2;}
.cd_span{width:8px; height:40px; background-color:#1db991; position:absolute; left:0; display:none;}
.cd_span2{width:8px; height:40px; background-color:#1db991; position:absolute; left:0; display:none;}
.cd_span3{width:8px; height:40px; background-color:#1db991; position:absolute; left:0; display:none;}
.cd_div{ position:absolute; left:8px; width:144px;}
.menu_li2_a{ position:relative;}
.cd_ts{ display:block; position:absolute; right:5px; top:14px;}

.menu_ul3{ position:absolute; top:0; width:160px; height:auto; background:#fff; color:#333; font-size:12px;left:100%; border:solid 1px #48ac8e; display:none;}
.menu_ul4{ position:absolute; top:0; width:160px; height:auto; background:#fff; color:#333; font-size:12px;left:100%; border:solid 1px #48ac8e; display:none;}

/*右边*/
.right{ width:97%; height:100%; position:fixed; top:94px; left:3%; z-index:1;}
.ul_table ul {
	height:424px;
	overflow:auto;
}