@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; font-family:"微软雅黑";}
body{ background-color:#edf1f2; height:870px;}
a{ text-decoration:none;}
ul li{ list-style:none;}

/*left*/
.left_sj{ position:absolute; top:10px; width:96%; overflow:hidden;}
.left_sj img{ float:left; margin-right:1%; margin-left:1%;}
#left_span{ font-size:14px; display:block;}

/*个人信息*/
.left_top{ width:18%; position:absolute; top:40px; left:1%;}
.left_top_gr{ width:100%; height:35px; background:#4e5e6e; color:#fff; line-height:35px; font-size:14px;}
.left_top_gr span{ margin-left:5%;}

.left_z{ background:#fff; padding-top:10px;}
.left_tx{ width:136px; height:136px; border-radius:138px; background:#fff; border:1px solid #999; margin:auto; position:relative;}
.left_tx_li{ width:120px; height:120px; border-radius:120px; overflow:hidden; position:absolute; left:50%; margin-left:-60px; top:50%; margin-top:-60px;}
.left_tx_li img{ width:120px; height:auto; min-height:120px; border-radius:120px;}
.left_tx_xg{ display:block; font-size:12px; margin:auto; color:#999; width:100%; height:40px; line-height:40px; text-align:center;}
.left_lj{ width:100%; text-align:center; font-size:16px; color:#333;}
#gr_name{ color:#21be9b;}

.left_db{ width:100%; background:#e5ebf6; height:70px; margin-top:20px; overflow:hidden;}
.left_db a{ display:block; width:18%; height:auto; float:left; margin-top:14px; margin-left:12%;}
.left_db img{ width:100%; height:auto;}

/*今日任务便签*/
.left_bq{ width:18%; position:absolute; top:374px; left:1%;}
.left_bq_title{ width:100%; height:35px; background:#4e5e6e; color:#fff; line-height:35px; font-size:14px;}
.left_bq_title span{ margin-left:5%;}
.left_textarea{ width:93%; outline:none; resize:none; padding:3%;}
.left_bq_div{ width:100%; height:100px; background:#fff; overflow:hidden; margin-top:-4px;}
.left_bq_nr{ width:80%; height:auto; margin-left:10%;}
.left_bq_nr a{ display:block; height:25px; font-size:14px; line-height:25px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color:#333; margin-top:6px;}

/*公司BBS*/
.left_bbs{width:18%; position:absolute; top:577px; left:1%;}
.left_bbs_title{width:100%; height:35px; background:#4e5e6e; color:#fff; line-height:35px; font-size:14px;}
.left_bbs_title span{ margin-left:5%;}
.left_bbs_div{ width:100%; height:160px; background:#fff; overflow:hidden; margin-top:-4px;}
.left_bbs_nr{ width:80%; margin-left:10%;}
.left_bbs_nr a{ display:block; height:25px; font-size:14px; line-height:25px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color:#333; margin-top:6px;}

/*right*/
.right1{width:39%; float:left; margin-left:20%;}
.right2,.right3{width:39%; float:left; margin-left:20%; margin-top:10px;}
.right4{ width:39%; margin-left:60%; margin-top:40px;}
.right5,.right6{ width:39%; margin-left:60%; margin-top:10px;}
.right_title1,.right_title2,.right_title3,.right_title4,.right_title5,.right_title6{ width:100%; height:36px; background-color:#bdd3e0; font-weight:bold; overflow:hidden;}

.right_title_span1{ display:block; float:left; width:6px; height:18px; background-color:#20b891; border:solid 1px #3da396; margin-top:8px; border-radius:3px; margin-left:3%;}
.right_title_span2{ display:block; float:left; margin-left:2%; font-size:14px; line-height:36px;} 
.right_title_a{ display:block; width:46px; height:14px; float:right; margin-top:11px; margin-right:3%;}
.right_title_a img{ display:block; width:100%; height:100%;}

.right_content{ background-color:#fff; width:100%; height:200px; font-size:12px;}
.right_content_li{ width:100%; height:34px; line-height:34px; overflow:hidden; cursor:default;}
.right_content_li:hover{ background-color:#edf1f2;}
.right_content_img1{ display:block; width:1%; height:auto; margin-left:3%; margin-top:13px; float:left;}
.right_content_a{ display:block; width:60%; height:100%; margin-left:1%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; float:left; color:#525252;}
.right_content_span{ display:block; width:18%; text-align:right; height:100%; float:right; margin-right:3%; color:#525252;}


/*bottom*/
.bottom{ background:#fff; width:98%; height:34px; position:absolute; left:1%; top:777px; overflow:hidden;}
.bottom_ul{ overflow:hidden; height:34px; width:90%; float:left; white-space:nowrap;}
.bottom_ul li{ float:left; font-size:14px; width:5%; height:34px; line-height:34px; font-weight:bold; margin-left:1%; margin-right:1%;}
.bottom_ul li a{ color:#333; cursor:pointer;}

.bottom_tj_span{ display:block; float:left; height:34px; width:2%; margin:0 1%;}
.bottom_tj{ display:block;margin-top:6px; cursor:pointer;}
.bottom_a{ display:block; width:4%; height:26px; margin-top:4px; margin-right:1%; background:#bdd3e1; float:right;}
.bottom_more{ margin-left:9%; margin-top:6px;}

.bottom_tc_bg{ background:rgba(0,0,0,0.7); width:100%; height:100%; position:fixed; top:0; left:0; display:none;}
.bottom_tc{ width:800px; height:400px; background:#fff; position:fixed; left:50%; margin-left:-400px; top:50%; margin-top:-200px; border-radius:5px; box-shadow:1px 1px 2px #666; overflow:hidden;}

.bottom_tc_ss{ overflow:hidden; margin-top:30px; margin-left:55px;}
.bottom_ss_in{ outline:none; border:1px solid #20b891; border-radius:3px; float:left; height:26px; padding-left:5px;}
.bottom_ss_a{ display:block; width:28px; height:26px; background:#20b891; float:left; margin-left:5px;}
.bottom_ss_a img{ display:block; width:20px; height:20px; margin-left:4px; margin-top:3px;}

.bottom_span1{ display:block; width:60px; height:26px; line-height:26px; text-align:center; background:#20b891;color:#fff; font-size:14px; cursor:default; float:right; margin-right:10px;}
.bottom_span2{ display:block; width:60px; height:26px; line-height:26px; text-align:center;  background:#20b891;color:#fff; font-size:14px; cursor:default; float:right; margin-right:71px;}

.bottom_tc_ul{ float:left; margin-left: 55px; overflow:auto; height:260px; margin-top:20px;}
.bottom_tc li{ margin-top:10px; width:100px; float:left;}
.bottom_tc_ul input{ margin-right:5px;}
.bottom_tc label{ font-size:14px;}

