@charset "utf-8";
/* CSS Document */
*{ font-family:"微软雅黑";}
a{ text-decoration:none;}
ul,li{ margin:0; padding:0; list-style:none;}
body{ margin:0; padding:0; background:#e5e5e5;}
input{ margin:0; padding:0; outline:none;}

/*top*/
.zong{ overflow:auto;}
.top_k{ height:54px; line-height:54px;}
.top1{ height:54px; background:#fff; line-height:54px; overflow:auto; white-space:nowrap;}
.top1 span{ display:block; font-size:12px; float:left; margin-left:20px;}
.top_in{ width:214px; height:24px;border:solid 1px #aaaaaa;}
.top_select{ width:114px; height:24px; outline:none;}
.top_button{ overflow:hidden;}
.top_button img{ float:left; margin-top:8px; margin-left:16px; margin-right:5px;}

/*content_title*/
.content_title{ background:#bdd3e0; height:40px; line-height:40px; margin-top:10px; position:relative;}
.content_sp1{ display:block; position:absolute;width:6px; height:20px; background-color:#20b891; border:solid 1px #3da396;top:10px; border-radius:3px;left:20px;}
.content_sp2{ display:block; font-size:12px; left:40px; position:absolute;}
.img_tj{ display:block; float:left; margin-top:14px;}
.content_sp3{display:block;position:absolute;right:20px;font-size:12px; color:#4c6456; font-weight:bold; cursor:pointer; overflow:hidden;}
.content_sp3 span{ display:block; float:left;}
.content_sp4{display:block; font-size:12px; right: 460px; position:absolute;}

/*content*/
.content_t{overflow:auto; float:left; margin-left:1%; width:83%;}
.content_ul_w{ overflow:auto; min-height:270px;height:100%}
.content_li{border-bottom:1px solid #eaedf1; background:#fff; overflow:hidden; height:28px;}
.content_li span{ display:block; float:left; white-space:nowrap;color:#323232; font-size:12px; height:28px;line-height:28px; text-align:center;}
.span1_0{ width:30px; font-weight:bold;}
.span1{ font-weight:bold; width:201px;}
.span2_0{ width:30px;}
.content_a{ display:block; height:28px; line-height:28px;font-size:12px; color:#22bd9b; font-weight:bold; cursor:pointer;}

/*bottom*/
.content_bottom1{ background:#fff; height:30px; margin-top:10px;}
.content_bottom2{ background:#fff; height:42px; margin-top:2px; line-height:42px; position:relative;}
.b1{ margin-left:10px; position:absolute; overflow:hidden;}
.b1 input{ float:left; margin-top:15px;}
.b1 span{ display:block; font-size:12px; color:#323232; float:left; margin-left:2px;}
.b2{ width:32px; height:20px; line-height:20px; border:solid 1px #ced3d7; background:#d0e0e7; color:#323232; float:left; font-size:12px; text-align:center; position:absolute; left:60px; top:11px; cursor:default;}
.b3{ height:20px; line-height:20px; position:absolute; right:360px; top:11px; border: solid 1px #13b58e;}
.b3_s1{ font-size:12px; color:#13b58e;}
.b3_s2{ font-size:12px; color:#323232;}

.b4{ height:20px; line-height:20px; position:absolute; right:280px; top:11px; color:#323232; font-size:12px;}
.b5{ height:20px; line-height:20px; position:absolute; right:15px; top:11px;}
.b5_s1{ color:#13b58e; font-size:12px; border: solid 1px #13b58e; padding:0 3px; cursor:pointer;}
.b5_s3 input{ color:#323232; width:25px; font-size:12px; border: solid 1px #13b58e;}
.b5_s2{ color:#fff; background:#13b58e;}

