<link href="__PUBLIC__/css/new_index.css" rel="stylesheet" type="text/css">
<script src="__PUBLIC__/js/jquery-2.1.0.min.js"></script>
<!--top-->
<div class="top">
    <a class="__PUBLIC__/img_a" href="{:U('home/index')}">
        <img style="margin: 30px 40px;" class="logo_img" src="__PUBLIC__/img/new_home/logo.png"/> 
    </a>
    <div class="rq_tq">
    	<span id="left_span"></span>
       		<!--<iframe width="420" scrolling="no" height="60" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=12&color=%23FFFFFF&icon=1&num=1"></iframe>-->
        <div class="iframe">
            <iframe allowtransparency="true" frameborder="0" width="185" height="96" scrolling="no" src="http://tianqi.2345.com/plugin/widget/index.htm?s=2&z=1&t=0&v=0&d=1&bd=0&k=&f=ffffff&q=0&e=0&a=1&c=54511&w=185&h=96&align=center"></iframe>
        </div>
    </div>
    <div class="tuic">
    	<a class="qhlb" target="_blank" onclick="ceshi();">神洲CRM</a>
        <a class="tuic_a1" href="{:U('problem_feedback/index')}">ERP问题反馈</a>
        <input type="hidden" id="user_name" value="{$Think.session.emp_no}"/>
        <input type="hidden" id="password" value="{$Think.session.remember}"/>
        <!--<a class="qhlb" href="{:U('home/index_old')}">切换老版</a>-->
        <a class="tuic_a2" href="{:U('login/logout')}"><img src="__PUBLIC__/img/new_home/tc.png"/></a>
    </div>
    <div class="top_menu_r">
    	<if condition="($sign_in eq true)">
    		<a id="in" onclick="sign('in')"><img src="__PUBLIC__/img/new_home/sbqr.png"/></a>
    	</if>
        <if condition="($sign_out eq true)">
        	<a id="out" onclick="sign('out')"><img src="__PUBLIC__/img/new_home/xbqc.png"/></a>
        </if>
        <!--<a class="chongz" title="重置拖动"><img src="__PUBLIC__/img/new_home/yijian.png"/></a>-->
     </div>  
    <div class="bottom">
        <span id="right_title10"></span>
        <span class="bottom_tj_span">
            <img class="bottom_tj" src="__PUBLIC__/img/new_home/tj_jh.png"/>
        </span>
        <ul class="bottom_ul">
        </ul>
    </div> 
</div>



<div class="bottom_tc_bg">
    <div class="bottom_tc">
    
    	<div class="bottom_tc_ss">
        	<input class="bottom_ss_in" type="text"/>
            <a class="bottom_ss_a" onclick="ss_menu();"><img src="__PUBLIC__/img/new_home/ss_top.png"/></a>
            <span class="bottom_span2" onClick="checkbox()">确定</span>
            <span class="bottom_span1">取消</span> 
        </div>
        
        <ul class="bottom_tc_ul">
        </ul>
    </div>
</div>

<div class="bottom_tc_bg2">
    <div class="bottom_tc">
    	<div class="bottom_tc_ss">
            <span class="bottom_span1">取消</span> 
        </div>
        
        <ul class="bottom_tc_ul2">
        </ul>
    </div>
</div>

<!--left-->
<div class="left">
	<nav class="left_nav">
    	<a class="left_a" id="left_a1">
        	<img src="__PUBLIC__/img/new_home/left_ss1.png"/>
        </a>
        <div class="ani_ss">
            <div class="ss_div">
                <input class="ss_in1" type="search" onKeyUp="b()"/>
                <input class="ss_in2" type="submit" value="搜索"/>
            </div>
            <ul class="ani_ss_ul">
            </ul>
        </div>
        <!-- <volist name="left_menu" id="menu1" key="k1">
			<a class="left_a" id="left_a{$k1+1}">
	        	<img src="__PUBLIC__/img/new_home/{$menu1.remark}"/>
	        </a>   
	        <ul class="menu_ul{$k1*2}">
	        	<volist name="menu1._child" id="menu2" key="k2">
	        		<if condition="$menu2['_child']">
	        			<li class="menu_li{$k1*2}">
			                <a class="menu_li{$k1*2}_a">
			                    <span class="cd_span{$k1*2}"></span>
			                    <div class="cd_div" id="cd_div2">{$menu2.name}</div>
			                    <img class="cd_ts" src="__PUBLIC__/img/new_home/jian2.png"/>
			                </a>
			                <if condition="($k1*2 eq 16)">
			                	<ul class="menu_ul{$k1*2+1}_{$k2-1}">
				                	<volist name="menu2._child" id="menu3" key="k3">
				                		<li class="menu_li{$k1*2+1}_{$k2-1}"><a href="{:U($menu3['url'])}"><span class="cd_span{$k1*2+1}"></span><div class="cd_div">{$menu3.name}</div></a></li>
				                	</volist>
				                </ul>
				            <else/>
				            	<ul class="menu_ul{$k1*2+1}">
				                	<volist name="menu2._child" id="menu3" key="k3">
				                		<li class="menu_li{$k1*2+1}"><a href="{:U($menu3['url'])}"><span class="cd_span{$k1*2+1}"></span><div class="cd_div">{$menu3.name}</div></a></li>
				                	</volist>
				                </ul>
			                </if>
		                	
			            </li>
			        <else/>
			        	<li class="menu_li{$k1*2}"><a href="{:U($menu2['url'])}"><span class="cd_span{$k1*2}"></span><div class="cd_div">{$menu2.name}</div></a></li>
	        		</if>
	        	</volist>
	        </ul>
		</volist> -->
        <a class="left_a" id="left_a2">
        	<img src="__PUBLIC__/img/new_home/left_grzx1.png"/>
        </a>   
        <ul class="menu_ul2">
            <li class="menu_li2">
                <a class="menu_li2_a">
                    <span class="cd_span2"></span>
                    <div class="cd_div" id="cd_div2">用户设置</div>
                    <img class="cd_ts" src="__PUBLIC__/img/new_home/jian2.png"/>
                </a>
                <ul class="menu_ul3">
                    <li class="menu_li3"><a href="{:U('profile/index')}"><span class="cd_span3"></span><div class="cd_div">用户资料</div></a></li>
                    <li class="menu_li3"><a href="{:U('profile/password')}"><span class="cd_span3"></span><div class="cd_div">修改密码</div></a></li>
                    <li class="menu_li3"><a href="{:U('profile/resume')}"><span class="cd_span3"></span><div class="cd_div">个人简历</div></a></li>
                    <li class="menu_li3"><a href="{:U('UserConfig/index')}"><span class="cd_span3"></span><div class="cd_div">用户设置</div></a></li>
                </ul>
            </li>
            <!-- <li class="menu_li2"><a href="{:U('shuo/index')}"><span class="cd_span2"></span><div class="cd_div">每日说说</div></a></li> -->
            <li class="menu_li2"><a href="{:U('ftodo/index')}"><span class="cd_span2"></span><div class="cd_div">待办事项</div></a></li>
            <!-- <li class="menu_li2"><a href="{:U('contact/index')}"><span class="cd_span2"></span><div class="cd_div">联系人</div></a></li>
            <li class="menu_li2"><a href="{:U('complaint/index')}"><span class="cd_span2"></span><div class="cd_div">意见箱</div></a></li>
            <li class="menu_li2"><a href="{:U('schedule/index')}"><span class="cd_span2"></span><div class="cd_div">日程</div></a></li>
            <li class="menu_li2"><a href="{:U('message/index')}"><span class="cd_span2"></span><div class="cd_div">消息</div></a></li> -->
            <li class="menu_li2"><a href="{:U('task/index')}"><span class="cd_span2"></span><div class="cd_div">任务</div></a></li>
            <li class="menu_li2"><a href="{:U('daily_report/index')}"><span class="cd_span2"></span><div class="cd_div">日报</div></a></li>
            <li class="menu_li2"><a href="{:U('weekly_report/index')}"><span class="cd_span2"></span><div class="cd_div">周报</div></a></li>
            <li class="menu_li2"><a href="{:U('monthly_report/index')}"><span class="cd_span2"></span><div class="cd_div">月报</div></a></li>
            <li class="menu_li2"><a href="{:U('notice/folder?fid=94')}"><span class="cd_span2"></span><div class="cd_div">工作计划</div></a></li>
        </ul>
  
        <a class="left_a" id="left_a3">
        	<img src="__PUBLIC__/img/new_home/left_rlzy1.png"/>
        </a>
        <ul class="menu_ul4">
            <li class="menu_li4">
                <a class="menu_li4_a0">
                <span class="cd_span4"></span>
                <div class="cd_div">招聘管理</div>
                <img class="cd_ts" src="__PUBLIC__/img/jian3.png"/>
                </a>
                <ul class="menu_ul5_0">
                    <li class="menu_li5_0"><a href="{:U('flow/getlist?type=48')}"><span class="cd_span5_0"></span><div class="cd_div">部门招聘需求申请</div></a></li>
                </ul>
            </li>
            <li class="menu_li4">
                <a class="menu_li4_a1">
                <span class="cd_span4"></span>
                <div class="cd_div">考勤管理</div>
                <img class="cd_ts" src="__PUBLIC__/img/jian3.png"/>
                </a>
                <ul class="menu_ul5_1">
                    <li class="menu_li5"><a href="{:U('flow/getlist?type=57')}"><span class="cd_span5_1"></span><div class="cd_div">加班申请</div></a></li>
                    <li class="menu_li5"><a href="{:U('flow/getlist?type=39')}"><span class="cd_span5_1"></span><div class="cd_div">员工请假申请</div></a></li>
                    <li class="menu_li5"><a href="{:U('flow/getlist?type=47')}"><span class="cd_span5_1"></span><div class="cd_div">出勤异常申请</div></a></li>
                    <li class="menu_li5"><a href="{:U('flow/getlist?type=46')}"><span class="cd_span5_1"></span><div class="cd_div">外勤/出差申请</div></a></li>
                    <li class="menu_li5"><a href="{:U('attendance/new_table')}"><span class="cd_span5_1"></span><div class="cd_div">每月考勤表</div></a></li>
                    <li class="menu_li5"><a href="{:U('attendance/index')}"><span class="cd_span5_1"></span><div class="cd_div">每月打卡信息</div></a></li>
                    
                </ul>
            </li>
            <li class="menu_li4">
                <a class="menu_li4_a2">
                <span class="cd_span4"></span>
                <div class="cd_div">员工关系管理</div>
                <img class="cd_ts" src="__PUBLIC__/img/jian3.png"/>
                </a>
                <ul class="menu_ul5_2">
                    <li class="menu_li5"><a href="{:U('flow/getlist?type=52')}"><span class="cd_span5_2"></span><div class="cd_div">员工调动申请</div></a></li>
                    <li class="menu_li5"><a href="{:U('flow/getlist?type=50')}"><span class="cd_span5_2"></span><div class="cd_div">试用期评估表</div></a></li>
                    <li class="menu_li5"><a href="{:U('flow/getlist?type=51')}"><span class="cd_span5_2"></span><div class="cd_div">员工转正申请</div></a></li>
                    <li class="menu_li5"><a href="{:U('flow/getlist?type=49')}"><span class="cd_span5_2"></span><div class="cd_div">员工离职申请</div></a></li>
                    <li class="menu_li5"><a href="{:U('flow/getlist?type=40')}"><span class="cd_span5_2"></span><div class="cd_div">员工离职交接申请</div></a></li>
                </ul>
            </li>
            <li class="menu_li4">
                <a class="menu_li4_a3">
                <span class="cd_span4"></span>
                <div class="cd_div">薪酬管理</div>
                <img class="cd_ts" src="__PUBLIC__/img/jian3.png"/>
                </a>
                <ul class="menu_ul5_3">
                    <li class="menu_li5"><a href="{:U('flow/getlist?type=56')}"><span class="cd_span5_3"></span><div class="cd_div">员工调薪申请</div></a></li>
                </ul>
            </li>
        </ul>
        <a class="left_a" id="left_a4">
        	<img src="__PUBLIC__/img/new_home/left_xzgl1.png"/>
        </a>
        <ul class="menu_ul6">
            <li class="menu_li6">
                <a class="menu_li6_a3">
                    <span class="cd_span6"></span>
                    <div class="cd_div">物业管理</div>
                    <img class="cd_ts" src="__PUBLIC__/img/jian4.png"/>
                </a>
            </li>
            <li class="menu_li6">
                <a class="menu_li6_a4">
                    <span class="cd_span6"></span>
                    <div class="cd_div">物品管理</div>
                    <img class="cd_ts" src="__PUBLIC__/img/jian4.png"/>
                </a>
            </li>
            <li class="menu_li6">
                <a class="menu_li6_a2">
                    <span class="cd_span6"></span>
                    <div class="cd_div">会议室管理</div>
                    <img class="cd_ts" src="__PUBLIC__/img/jian4.png"/>
                </a>
                
            </li>
            <!--<li class="menu_li6">
                <a class="menu_li6_a1">
                    <span class="cd_span6"></span>
                    <div class="cd_div" id="cd_div2">资产管理</div>
                    <img class="cd_ts" src="__PUBLIC__/img/jian4.png"/>
                </a>
                
            </li>-->
            <li class="menu_li6">
                <a class="menu_li6_a">
                    <span class="cd_span6"></span>
                    <div class="cd_div">公告管理</div>
                    <img class="cd_ts" src="__PUBLIC__/img/jian4.png"/>
                </a>
            </li>
            <li class="menu_li6"><a href="{:U('flow/getlist?type=60')}"><span class="cd_span6"></span><div class="cd_div">文件审批申请</div></a></li>
            <li class="menu_li6"><a href="{:U('flow/getlist?type=53')}"><span class="cd_span6"></span><div class="cd_div">内部联络单</div></a></li>
            <li class="menu_li6"><a href="{:U('flow/getlist?type=59')}"><span class="cd_span6"></span><div class="cd_div">名片申请</div></a></li>
            <li class="menu_li6"><a href="{:U('flow/getlist?type=62')}"><span class="cd_span6"></span><div class="cd_div">合同申请</div></a></li>
            <li class="menu_li6"><a href="{:U('flow/getlist?type=58')}"><span class="cd_span6"></span><div class="cd_div">会务申请</div></a></li>
            <li class="menu_li6"><a href="{:U('flow/getlist?type=64')}"><span class="cd_span6"></span><div class="cd_div">公章申请</div></a></li>
            <li class="menu_li6"><a href="{:U('flow/getlist?type=61')}"><span class="cd_span6"></span><div class="cd_div">人事任免、业务提成申请</div></a></li>
              
        </ul>
        <ul class="menu_ul7_4">
            <li class="menu_li7_4"><a href="{:U('flow/getlist?type=65')}"><span class="cd_span7_4"></span><div class="cd_div">私车公用申请</div></a></li>
            <li class="menu_li7_4"><a href="{:U('flow/getlist?type=63')}"><span class="cd_span7_4"></span><div class="cd_div">公交卡使用申请</div></a></li>
        </ul>
        <ul class="menu_ul7_5">
            <li class="menu_li7_5"><a href="{:U('flow/getlist?type=55')}"><span class="cd_span7_5"></span><div class="cd_div">物品采购调拨申请</div></a></li>
            <li class="menu_li7_5"><a href="{:U('flow/getlist?type=54')}"><span class="cd_span7_5"></span><div class="cd_div">办公用品采购申请</div></a></li>
            <li class="menu_li7_5"><a href="{:U('flow/getlist?type=42')}"><span class="cd_span7_5"></span><div class="cd_div">办公用品领用申请</div></a></li>
            <li class="menu_li7_5"><a href="{:U('goodsCategory/index')}"><span class="cd_span7_5"></span><div class="cd_div">物品大类维护</div></a></li>
            <li class="menu_li7_5"><a href="{:U('goods/index')}"><span class="cd_span7_5"></span><div class="cd_div">物品名称维护</div></a></li>
            <li class="menu_li7_5"><a href="{:U('goods/change')}"><span class="cd_span7_5"></span><div class="cd_div">物品数量维护</div></a></li>
        </ul>
        <ul class="menu_ul7_3">
            <li class="menu_li7_3"><a href="{:U('room/index')}"><span class="cd_span7_3"></span><div class="cd_div">会议室管理</div></a></li>
            <li class="menu_li7_3"><a href="{:U('yuyue/index')}"><span class="cd_span7_3"></span><div class="cd_div">预约列表</div></a></li>
            <li class="menu_li7_3"><a href="{:U('parameter/index')}"><span class="cd_span7_3"></span><div class="cd_div">参数配置</div></a></li>
        </ul>
        <ul class="menu_ul7">
            <li class="menu_li7"><a href="{:U('notice/index')}"><span class="cd_span7"></span><div class="cd_div">公告搜索</div></a></li>
            <li class="menu_li7"><a href="{:U('notice_folder/index')}"><span class="cd_span7"></span><div class="cd_div">公告管理</div></a></li>
            <li class="menu_li7"><a href="{:U('notice/folder?fid=72')}"><span class="cd_span7"></span><div class="cd_div">通知与公告</div></a></li>
            <li class="menu_li7"><a href="{:U('notice/folder?fid=71')}"><span class="cd_span7"></span><div class="cd_div">公司制度与规定</div></a></li>
            <li class="menu_li7"><a href="{:U('notice/folder?fid=95')}"><span class="cd_span7"></span><div class="cd_div">公司新闻与今日头条</div></a></li>
            <li class="menu_li7"><a href="{:U('notice/folder?fid=68')}"><span class="cd_span7"></span><div class="cd_div">企业概况</div></a></li>
            <li class="menu_li7"><a href="{:U('notice/folder?fid=96')}"><span class="cd_span7"></span><div class="cd_div">员工活动</div></a></li>
            <li class="menu_li7"><a href="{:U('notice/folder?fid=97')}"><span class="cd_span7"></span><div class="cd_div">组织架构</div></a></li>
        </ul> 
        <a class="left_a" id="left_a5">
        	<img src="__PUBLIC__/img/new_home/left_xxgl1.png"/>
        </a>
        <ul class="menu_ul8">
            <li class="menu_li8"><a href="{:U('problem_feedback/index')}"><span class="cd_span8"></span><div class="cd_div">ERP问题反馈</div></a></li>
            <!--<li class="menu_li8"><a><span class="cd_span8"></span><div class="cd_div">软件版本发布申请</div></a></li>-->
            </ul>
        
        <a class="left_a" id="left_a8">
            <img src="__PUBLIC__/img/new_home/left_tjzx1.png"/>
        </a>
       <!--  <ul class="menu_ul14">
            <li class="menu_li14"><a href="{:U('report/delivery')}"><span class="cd_span14"></span><div class="cd_div">基地发货日报导入</div></a></li>
            <li class="menu_li14"><a href="{:U('report/delivery_read_all')}"><span class="cd_span14"></span><div class="cd_div">基地发货日报表</div></a></li>
            <li class="menu_li14"><a href="{:U('report/store_problem')}"><span class="cd_span14"></span><div class="cd_div">商家问题受理导入</div></a></li>
            <li class="menu_li14"><a href="{:U('report/store_problem_read_all')}"><span class="cd_span14"></span><div class="cd_div">商家问题受理表</div></a></li>
            <li class="menu_li14"><a href="{:U('attract/index')}"><span class="cd_span14"></span><div class="cd_div">招商进度日报导入</div></a></li>
            <li class="menu_li14"><a href="{:U('attract/statistics')}"><span class="cd_span14"></span><div class="cd_div">招商进度日报表</div></a></li>
            <li class="menu_li14"><a href="{:U('visitor/index')}"><span class="cd_span14"></span><div class="cd_div">到访客户池导入</div></a></li>
            <li class="menu_li14"><a href="{:U('visitor/statistics')}"><span class="cd_span14"></span><div class="cd_div">到访客户池统计</div></a></li>
            <li class="menu_li14"><a href="{:U('signed/index')}"><span class="cd_span14"></span><div class="cd_div">已签约客户明细年进度导入</div></a></li>
            <li class="menu_li14"><a href="{:U('signed/statistics')}"><span class="cd_span14"></span><div class="cd_div">已签约客户明细年进度表</div></a></li>
        </ul> -->
        
        <ul class="menu_ul14">
            <li class="menu_li14">
                <a class="menu_li14_a">
                    <span class="cd_span14"></span>
                    <div class="cd_div">基础数据导入</div>
                    <img class="cd_ts" src="__PUBLIC__/img/new_home/jian6.png"/>
                </a>
            </li>
            <li class="menu_li14"><a href="{:U('report/delivery_read_all')}"><span class="cd_span14"></span><div class="cd_div">基地发货日报表</div></a></li>
            <li class="menu_li14"><a href="{:U('report/store_problem_read_all')}"><span class="cd_span14"></span><div class="cd_div">商家问题受理表</div></a></li>
            <li class="menu_li14"><a href="{:U('attract/statistics')}"><span class="cd_span14"></span><div class="cd_div">招商进度日报表</div></a></li> 
            <li class="menu_li14"><a href="{:U('visitor/statistics')}"><span class="cd_span14"></span><div class="cd_div">到访客户池统计</div></a></li>
            <li class="menu_li14"><a href="{:U('signed/statistics')}"><span class="cd_span14"></span><div class="cd_div">已签约客户明细年进度表</div></a></li>
            
        </ul>
        
        <ul class="menu_ul15">
            <li class="menu_li15"><a href="{:U('report/delivery')}"><span class="cd_span15"></span><div class="cd_div">基地发货日报导入</div></a></li>
            <!-- <li class="menu_li15"><a><span class="cd_span15"></span><div class="cd_div">工作计划导入</div></a></li> -->
            <li class="menu_li15"><a href="{:U('report/store_problem')}"><span class="cd_span15"></span><div class="cd_div">商家问题受理导入</div></a></li>
            <li class="menu_li15"><a href="{:U('attract/index')}"><span class="cd_span15"></span><div class="cd_div">招商进度日报导入</div></a></li>
            <li class="menu_li15"><a href="{:U('visitor/index')}"><span class="cd_span15"></span><div class="cd_div">到访客户池导入</div></a></li>
            <li class="menu_li15"><a href="{:U('signed/index')}"><span class="cd_span15"></span><div class="cd_div">已签约客户明细年进度导入</div></a></li>
        </ul>

        <a class="left_a" id="left_a6">
        	<img src="__PUBLIC__/img/new_home/left_dazx1.png"/>
        </a>
        <ul class="menu_ul10">
            <li class="menu_li10"><a href="{:U('profile/userlist')}"><span class="cd_span10"></span><div class="cd_div">员工档案管理</div></a></li>
            <!--<li class="menu_li10"><a><span class="cd_span10"></span><div class="cd_div">部门档案管理</div></a></li>-->
            <li class="menu_li10"><a href="{:U('staff/index')}"><span class="cd_span10"></span><div class="cd_div">通讯录</div></a></li>
        </ul>
        
        <a class="left_a" id="left_a7">
        	<img src="__PUBLIC__/img/new_home/left_zszx1.png"/>
        </a>
        <ul class="menu_ul12">
            <li class="menu_li12"><a href="{:U('doc/index')}"><span class="cd_span12"></span><div class="cd_div">文档搜索</div></a></li>
            <li class="menu_li12"><a href="{:U('doc_folder/index')}"><span class="cd_span12"></span><div class="cd_div">文档库管理</div></a></li>
            <li class="menu_li12"><a href="{:U('doc/folder?fid=87')}"><span class="cd_span12"></span><div class="cd_div">系统操作文档</div></a></li>
            <li class="menu_li12"><a href="{:U('doc/folder?fid=67')}"><span class="cd_span12"></span><div class="cd_div">人事管理</div></a></li>
        </ul>
        
        
        <a class="left_a" id="left_a9">
        	<img src="__PUBLIC__/img/new_home/left_xtgl1.png"/>
        </a>
        <ul class="menu_ul16">
            <li class="menu_li16">
                <a class="menu_li16_a">
                    <span class="cd_span16"></span>
                    <div class="cd_div">公司信息管理</div>
                    <img class="cd_ts" src="__PUBLIC__/img/new_home/jian5.png"/>
                </a>
                <ul class="menu_ul17_0">
                    <li class="menu_li17_0"><a href="{:U('dept/index')}"><span class="cd_span17_0"></span><div class="cd_div">部门管理</div></a></li>
                    <li class="menu_li17_0"><a href="{:U('position/index')}"><span class="cd_span17_0"></span><div class="cd_div">职位</div></a></li>
                    <li class="menu_li17_0"><a href="{:U('dept_grade/index')}"><span class="cd_span17_0"></span><div class="cd_div">部门级别</div></a></li>
                    <li class="menu_li17_0"><a href="{:U('user/index')}"><span class="cd_span17_0"></span><div class="cd_div">员工登记</div></a></li>
                </ul>
            </li>
            <li class="menu_li16">
                <a class="menu_li16_a4">
                    <span class="cd_span16"></span>
                    <div class="cd_div">组织结构管理</div>
                    <img class="cd_ts" src="__PUBLIC__/img/new_home/jian5.png"/>
                </a>
                <ul class="menu_ul17_4">
                    <li class="menu_li17_4"><a><span class="cd_span17_4"></span><div class="cd_div">岗位列表</div></a></li>
                    <li class="menu_li17_4"><a><span class="cd_span17_4"></span><div class="cd_div">组织架构</div></a></li>
                    <li class="menu_li17_4"><a><span class="cd_span17_4"></span><div class="cd_div">岗位列表</div></a></li>
                </ul>
            </li>
            <li class="menu_li16">
                <a class="menu_li16_a1">
                    <span class="cd_span16"></span>
                    <div class="cd_div">权限管理</div>
                    <img class="cd_ts" src="__PUBLIC__/img/new_home/jian5.png"/>
                </a>
                <ul class="menu_ul17_1">
                    <li class="menu_li17_1"><a href="{:U('role/index')}"><span class="cd_span17_1"></span><div class="cd_div">权限组管理</div></a></li>
                    <li class="menu_li17_1"><a href="{:U('duty/index')}"><span class="cd_span17_1"></span><div class="cd_div">业务角色管理</div></a></li>
                    <li class="menu_li17_1"><a href="{:U('role/node')}"><span class="cd_span17_1"></span><div class="cd_div">权限设置</div></a></li>
                    <li class="menu_li17_1"><a href="{:U('role/duty')}"><span class="cd_span17_1"></span><div class="cd_div">业务权限分配</div></a></li>
                    <li class="menu_li17_1"><a href="{:U('role/user')}"><span class="cd_span17_1"></span><div class="cd_div">权限分配</div></a></li>
                    <li class="menu_li17_1"><a><span class="cd_span17_1"></span><div class="cd_div">角色管理</div></a></li>
                    <li class="menu_li17_1"><a><span class="cd_span17_1"></span><div class="cd_div">菜单维护</div></a></li>
                    <li class="menu_li17_1"><a><span class="cd_span17_1"></span><div class="cd_div">权限列表</div></a></li>
                </ul>
            </li>
            <li class="menu_li16">
                <a class="menu_li16_a2">
                    <span class="cd_span16"></span>
                    <div class="cd_div">系统设定</div>
                    <img class="cd_ts" src="__PUBLIC__/img/new_home/jian5.png"/>
                </a>
                <ul class="menu_ul17_2">
                    <li class="menu_li17_2"><a href="{:U('system_config/index')}"><span class="cd_span17_2"></span><div class="cd_div">系统参数设置</div></a></li>
                    <li class="menu_li17_2"><a href="{:U('node/index')}"><span class="cd_span17_2"></span><div class="cd_div">菜单管理</div></a></li>
                    <li class="menu_li17_2"><a href="{:U('system_config/holiday')}"><span class="cd_span17_2"></span><div class="cd_div">节假日设置</div></a></li>
                </ul>
            </li>
            <li class="menu_li16">
                <a class="menu_li16_a5">
                    <span class="cd_span16"></span>
                    <div class="cd_div">工作流管理</div>
                    <img class="cd_ts" src="__PUBLIC__/img/new_home/jian5.png"/>
                </a>
                <ul class="menu_ul17_5">
                    <li class="menu_li17_5"><a><span class="cd_span17_5"></span><div class="cd_div">工作流配置</div></a></li>
                    <li class="menu_li17_5"><a><span class="cd_span17_5"></span><div class="cd_div">审批流列表</div></a></li>
                    <li class="menu_li17_5"><a><span class="cd_span17_5"></span><div class="cd_div">工作流代办委托</div></a></li>
                </ul>
            </li>
            <li class="menu_li16">
                <a class="menu_li16_a3">
                    <span class="cd_span16"></span>
                    <div class="cd_div">基础数据</div>
                    <img class="cd_ts" src="__PUBLIC__/img/new_home/jian5.png"/>
                </a>
                <ul class="menu_ul17_3">
                    <li class="menu_li17_3"><a href="{:U('system_config/simple_data_mapping')}"><span class="cd_span17_3"></span><div class="cd_div">简单数据映射</div></a></li>
                    <li class="menu_li17_3"><a><span class="cd_span17_3"></span><div class="cd_div">行政区划分维护</div></a></li>
                    <li class="menu_li17_3"><a><span class="cd_span17_3"></span><div class="cd_div">定时任务监控</div></a></li>
                </ul>
            </li>
        </ul>
    </nav>
    
    <div class="left_ck">
    <span class="left_ck_span1">
        <img class="" src="__PUBLIC__/img/new_home/left_shang.png"/>
    </span>
    <span class="left_ck_span2">
        <img src="__PUBLIC__/img/new_home/left_xia.png"/>
    </span>
</div>
</div>

<script type="text/javascript">
$(function() {
	var con = "";
	var bg  = $(".bottom_tc_ul");
	var i = 1;
	bg.children("li").remove()
	$("li[class^='menu_li'] a ").each(function(){
		con = "";
		con = '<li><input msg="'+$(this).attr("href")+'" id="box'+i+'" name="box" type="checkbox" value="'+$(this).find("div").text().trim()+'" ';
		con += '';
		con += ' onClick="check()"/><label for="box'+i+'">'+$(this).find("div").text().trim()+'</label></li>';
		bg.append(con);
		i++;
	})
	/*
	for(j=2;j<=16;j+=1){
		$("ul[class=menu_ul"+j+"] li").each(function(){
			if(typeof($(this).find("a").attr("href")) != 'undefined'){
				con = "";
				con = '<li><input msg="'+$(this).find("a").attr("href")+'" id="box'+i+'" name="box" type="checkbox" value="'+$(this).find("div").text().trim()+'" ';
				con += '';
				con += ' onClick="check()"/><label for="box'+i+'">'+$(this).find("div").text().trim()+'</label></li>';
				bg.append(con);
				i++;
			}
		});
	}
	*/
	/* ajax提交*/
	function sendAjax(url, vars, callback) {
		return $.ajax({
			type : "POST",
			url : url,
			data : vars + "&ajax=1",
			dataType : "json",
			success : callback
		});
	}
	//友好的消息提示
	function ui_info(msg) {
		$.gritter.add({
			position : 'bottom-right',
			text : '<h5>' + msg + '</h5>',
			sticky : false,
			time : 3000,
			class_name : 'gritter-light gritter-info'
		});
	}
	//调用用户自定义的图标
	init_hbtm();
});

$(".ss_in2").click(function(){
	var i = $(".ani_ss_ul").is(":hidden");
	if(i == false && $(".ani_ss_ul a li").eq(0).html()!='找不到搜索结果'){
		var url = $(".ani_ss_ul a").eq(0).attr('href');
		window.location.href=url;
	}
});
$(".bottom_tj_span").click(function(){
	$.post("{:U('home/gethomebottomcheck')}",'id=id' , function(data) {
		showdatas(data);
	});	
	$(".bottom_tc_bg").show();
	
	$(".bottom_span1").click(function(){
		$(".bottom_tc_bg").hide();
	})
});

function showdatas(result) {
	for (s in result.data) {
		var id = result.data[s];
		var msg = "";
		$("ul[class=bottom_tc_ul] li").each(function(){
			msg = $(this).find("input").attr("msg");
			if(msg === id){
				$(this).find("input").attr("checked",true);
				return false;
			}
		});
	}
}

function checkbox(){
	var chestr="";
	var urls = "";
	$("input[name=box]:checked").each(function(){
		urls += $(this).attr("msg")+';';
		chestr += $(this).val()+';';
	});
	if(chestr == ""){
		ui_error("请选择您要添加的菜单!~");
		return false;
	}else{
		chestr = chestr.substring(0,chestr.length-1);
		urls = urls.substring(0,urls.length-1);
		var q = chestr.split(';');
		var h = urls.split(';');
		var list = "";
		for(j=0;j<q.length;j++){
			if(q[j]=='日报'){
				list += "<li><a class='bottom_a' href='"+h[j]+"'><img src='__PUBLIC__/img/new_home/bottom_rb.png'/></a></li>";
            }else if(q[j]=='周报'){
            	list += "<li><a class='bottom_a' href='"+h[j]+"'><img src='__PUBLIC__/img/new_home/bottom_zb.png'/></a></li>";
            }else if(q[j]=='月报'){
            	list += "<li><a class='bottom_a' href='"+h[j]+"'><img src='__PUBLIC__/img/new_home/bottom_yb.png'/></a></li>";
            }else if(q[j]=='组织架构'){
            	list += "<li><a class='bottom_a' href='"+h[j]+"'><img src='__PUBLIC__/img/new_home/bottom_jg.png'/></a></li>";
            }else if(q[j]=='公司新闻与今日头条'){
            	list += "<li><a class='bottom_a' href='"+h[j]+"'><img src='__PUBLIC__/img/new_home/bottom_tt.png'/></a></li>";
            }else{
            	list += "<li><a class='bottom_a2' href='"+h[j]+"'>"+q[j]+"</a></li>";
            }
		}
		if(list != ""){
			$(".bottom_tc_bg").hide();
			var reg=new RegExp("&","g");
			var lists = list.replace(reg,'*');
			$.post("{:U('home/sethomebottom')}", 'list='+ lists, function(data) {
				if(data.status){
					$(".bottom_ul").empty();
					$(".bottom_ul").append(list);
				}
				ui_info(data.info);
			});	
		}
	}
}
//页面初始化顶部自定义菜单栏
function init_hbtm(){
	var bu = $(".bottom_ul");
	$.post("{:U('home/gethomebottom')}",'id=id' , function(data) {
		if(data.status){
			bu.append(data.data);
		}else{
			ui_info(data.info);
		}
	});	
}
//搜索菜单项
function ss_menu(){
	var vl = $(".bottom_ss_in").val();
	if(vl != "" && vl != null){
		var tmp,ids,top;
		$("ul[class=bottom_tc_ul] li").each(function(){
			$(this).find("label").css("background","#fff");
			tmp = $(this).find("label").text().trim();
			if(tmp == vl){
				ids = $(this).find("input").attr("id");
				 window.location.hash = "#"+ids;
				 $(this).find("label").css("background","yellow");
				 return false;
			}
		});
	}
}
function b(){
	var keyword = $(".ss_in1").val();
	if(keyword==''){
		$(".ani_ss_ul").html('');
		$(".ani_ss_ul").slideUp();
	}else{
		$(".ani_ss_ul").html('');
		var i = 1;
		$("li[class^='menu_li'] a ").each(function(){
			if($(this).find("div").text().trim().indexOf(keyword)>=0){
				con = "";
				con = '<a href="'+$(this).attr("href")+'"><li>'+$(this).find("div").text().trim()+' ';
				con += ' </li></a>';
				$(".ani_ss_ul").append(con);
				i++;
			}
		})
		/*
		for(j=2;j<=16;j+=1){
			$("ul[class=menu_ul"+j+"] li").each(function(){
				if(typeof($(this).find("a").attr("href")) != 'undefined'){
					if($(this).find("div").text().trim().indexOf(keyword)>=0){
						con = "";
						con = '<a href="'+$(this).find("a").attr("href")+'"><li>'+$(this).find("div").text().trim()+' ';
						con += ' </li></a>';
						$(".ani_ss_ul").append(con);
						i++;
					}
				}
			});
		}
		*/
		if(i==1){
			con = "";
			con = '<a><li>'+'找不到搜索结果';
			con += '</li></a>';
			$(".ani_ss_ul").append(con);
		}
		$(".ani_ss_ul").slideDown();
	}
}
document.onkeydown=function(event){
    var e = event || window.event || arguments.callee.caller.arguments[0];          
    if(e && e.keyCode==13){ // enter 键
        var i = $(".ani_ss_ul").is(":hidden");
    	if(i == false && $(".ani_ss_ul a li").eq(0).html()!='找不到搜索结果'){
    		var url = $(".ani_ss_ul a").eq(0).attr('href');
    		window.location.href=url;
    	}
    }
};
function ceshi(){
	var user = $("#user_name").val().trim();
	var password = $("#password").val().trim();
	window.open("http://crm.xyb2c.com/index.php?m=user&a=login&name="+user+"&password="+password+"&submit=submit");
}
</script>
